node_modules/
dist/
data/
.env
.env.*
*.log
.npm-cache/
work/

spfx/lib/
spfx/lib-commonjs/
spfx/lib-dts/
spfx/lib-esm/
spfx/temp/
spfx/release/
spfx/sharepoint/solution/
spfx/src/generated/
coverage/
